body {
  margin: 0; }

.search {
  width: 620px;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: none;
  outline: 0;
  background: #eeeeee;
  color: #212121;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #e0e0e0; }

.contacts {
  list-style-type: none; }

.hl {
  color: #388e3c; }
